@font-face {
    font-family: "Golos UI";
    src: url(css/fonts/golos-ui_regular.ttf) format(truetype); 
}

* {
    font-family: 'Golos UI', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex; 
}

.login-container {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.login-media {
    position: absolute;
    display: inline-block;
    vertical-align: middle; 
    position: relative;
    margin-right: 100px; 
}

.login-image {
    display: block;
}

.login-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin-left: -130px;
    margin-top: -265px; 
    font-size: 140px;
    font-weight: bold;
    color: #222222;
    line-height: 1;
    letter-spacing: -1.5px;
    white-space: nowrap;
}

.login-form {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    top: 15%;
    width: 343px;

}

h2 {
    font-size: 18px;
    font-weight: normal;
    color: #222222;
    margin-top: 30px;
    margin-bottom: 5px;
}

h3 {  
    font-size: 12px;
    color: #666666;
    margin-top: 0;
    margin-bottom: 20px;
}

input {
    height: 43px;
    width: 100%; 
    background-color: #edf2f8;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    display: block; 
    margin-bottom: 5px;
}

.login-button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #222222;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper .show-password-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.input-wrapper .show-password-button .eye-icon {
    display: block;
    filter: invert(100%);
}

/* Домашняя страница*/
.side-panel {
    position: absolute;
    left: 0;
    width: 72px;
    height: 1080px;
    border-right: #edf2f8 solid 1px;
    
    
}
.side-panel .side-panel-button{
    margin-left: 25%;
    background: transparent;
    border: none;

}
.side-panel .side-panel-button .side-panel-icon {
    display: block;
    margin: 10px auto;
    filter: invert(100%);
}

.content-panel {
    width: 474px;
    height: 1338px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

}